/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    font-family: 'Nunito';
    font-size: 16px;
}

a{
    text-decoration: none;
}


 /*BARRA DE NAVEGAÇÃO*/
 .nav{
    background-color: #a0bed0;.
    font-size: 13px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
   
.nav__menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px;
   
}

.nav__menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 50px 0 0;
}

.nav__menu a:hover {
    color: #36b0e0;

}

.nav__menu-mobile{
    display: none;
}

/*BARRA DE NAVEGAÇÃO MOBILE*/

@media (max-width: 420px){
    .nav__menu-mobile{
        display: block;
    }

    .nav{
        background-color: white;
        padding: 10px;
    }

    .nav__menu a {
        display: none;
    }
}

/*TÍTULO, TEXTO E BOTÃO*/

.container{   
   background-image: url(../img/foto-banner.jpg);
   background-size: cover;
   height: 600px;
   margin-top:77px;
   text-align: center;   
}

@media (max-width:960px){

}

.container__title{
    font-family: 'varela round';
    color: white;
    font-size: 105px;
    text-transform: uppercase;
    font-weight:100;
    padding-top: 80px;
    letter-spacing: 8px;
    opacity: .7;
    
}

.container__subtitle{
    font-size: 22px;
    align-items:center;
    text-align: center;
    font-weight: bold;
    color: white;
    opacity: .7;
}


.btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #829dad;
    padding: 20px 30px 20px 30px;
    border-radius: 5px;
}

.btn--primary{
    display: inline-block;
    margin-top: 40px;
}

.btn--primary:hover{
    background-color: #36b0e0;
}

.second-container{
    font-family: 'Nunito';
    background-color: rgba(22, 22, 22, .8);
    text-align: center;
    color: white;
    padding: 30px;
}

.second-container__title{
    color: #fff;
    text-transform: uppercase;
}

.second-container__subtitle{
    margin-top: 10px;
    color:#6c757d;
    text-align: center;
    text-decoration: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: white;
    opacity: .5;
}

.text1{
    width: 80vw;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    margin-top: 80px;

}

.siberia{
    width: 730px;
    display: block;
}

 .title{
     padding: 150px 30px;
  }


